<div class="container mt-5">
    <div class="row g-3">
        <!-- Billing Address Card -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        Billing address
                        <a href="#" class="text-secondary"><i class="bi bi-pencil-square"></i> Edit</a>
                    </h5>
                    <p class="card-text">
                        Jill Dower<br>
                        Nayzak Design<br>
                        10 Strudwick CourtLondonSW4 6TE<br>
                        United Kingdom (UK)
                    </p>
                </div>
            </div>
        </div>

        <!-- Shipping Address Card -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        Shipping address
                        <a href="#" class="text-secondary"><i class="bi bi-pencil-square"></i>Edit</a>
                    </h5>
                    <p class="card-text">
                        Jill Dower<br>
                        Nayzak Design<br>
                        10 Strudwick CourtLondonSW4 6TE<br>
                        United Kingdom (UK)
                    </p>
                </div>
            </div>
        </div>

        <!-- Additional Address Card -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        Additional address
                        <a href="#" class="text-secondary"><i class="bi bi-pencil-square"></i>Edit</a>
                    </h5>
                    <p class="card-text">
                        Jill Dower<br>
                        Nayzak Design<br>
                        10 Strudwick CourtLondonSW4 6TE<br>
                        United Kingdom (UK)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>