

.textbody{
    display: flex;
}

.textbody p{
    margin: 0px 0px 0px 10px;
}


.text1{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d4d4d4;
    width: 350px;
}

.sing{
    margin-left: 180px;
}


.text-2{
        margin-bottom: 70px;
        width: 230px;
        font-weight: 500;
    }