<div class="container mt-5">
    <!-- Table starts here -->
    <table class="table">

        <tbody>
            <tr>
                <td>#98224</td>
                <td>July 24, 2022</td>
                <td>Delivered</td>
                <td>$28.00</td>
                <td><button type="button" class="btn btn-dark btn-sm">Track</button></td>
            </tr>
            <tr>
                <td>#98222</td>
                <td>July 24, 2022</td>
                <td>Delivered</td>
                <td>$28.00</td>
                <td><button type="button" class="btn btn-dark btn-sm">Track</button></td>
            </tr>
            <tr>
                <td>#98224</td>
                <td>July 24, 2022</td>
                <td>Delivered</td>
                <td>$28.00</td>
                <td><button type="button" class="btn btn-dark btn-sm">Track</button></td>
            </tr>
        </tbody>
    </table>
</div>