<!-- <section>
  <aside>
    <div>
      <h1>Nayzak Series</h1>
      <div>
        
      </div>
      
    </div>
    <img
      src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/322719139_916479099670138_1087961901035391470_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEkykKuLqT0YyoPXsB0Ai9AHhDWUQyg_DweENZRDKD8PJaVvyz_YGQs8xuR8k4dLEVSCicZ1vg86_AdP0u7cKlK&_nc_ohc=l7zZVe-NX5gAX_xrIiG&_nc_ht=scontent.ftbs4-2.fna&oh=00_AfCxzyhDjI7dcxuEI_oZ5dJBWc5sXleLm2eN3su6wetusg&oe=6562D374"
      alt=""
    />
  </aside>
</section> -->

<!-- <section>
  <aside>
    <div>
      <h1>Nayzak Series</h1>
    </div>
  </aside>

  <aside>
    <div>
      <p>
        At vero eos et accsamus et iusto odio dignissimos ducimos qui blanditiis
        prasesentium voluptatum delenit
      </p>
    </div>
  </aside>

  <div id="imageBody">
    <img
      src="https://images.unsplash.com/photo-1597769555495-c54a15cd8c3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzMjMwOX0&w=1600&fit=max&q=80"
      alt=""
    />
  </div>
</section> -->


<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-1" >
          <h1 class="text-black mb-4">Nayzak Series</h1>
          <p class="text-black">
            At vero eos et accsamus et iusto odio dignissimos ducimos qui blanditiis
            prasesentium voluptatum delenit
          </p>
      </div>
  </div>
  </div>
  <img class="img-fluid" src="https://images.unsplash.com/photo-1597769555495-c54a15cd8c3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzMjMwOX0&w=1600&fit=max&q=80" alt="...">
</div>