<div class="row gx-0 justify-content-center">
  <div class="col-lg-4">
    <img
      class="img-fluid"
      src="https://cdn1.it4profit.com/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/220908083627504621/220915160011758766.png@webp"
      alt="..."
    />
  </div>
  <div class="col-lg-4 order-lg-first">
    <div class="bg-white text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4 class="text-black">RUMS SMART+</h4>
          <p class="mb-0 text-black text">
            Phosfluor escently engage worldwide methodologires with web-enabled
            process-centric technology.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
