<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>Explore your creativiety</h1>
      <p>Over 1000 courses taught by real crearives.</p>
    </section>
  </div>
  <div class="right">
    <form>
      <section class="copy">
        <h2>Sing Up</h2>
        <div class="login-container">
          <p>
            Already have an account?
            <a href="">
              <strong>Log In</strong>
            </a>
          </p>
        </div>
      </section>
      <div class="input-container name">
        <label for="fname">Full Name</label>
        <input id="fname" name="fname" type="text" />
      </div>
      <div class="input-container email">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" />
      </div>
      <div class="input-container password">
        <label for="password">password</label>
        <input id="password" name="password" type="password" />
      </div>
      <div class="input-container cta">
        <label class="checkbox-container">
          <input type="checkbox" />
          <span class="checkmark"></span>
          Sing up for email updates.
        </label>
      </div>
      <button class="singup-btn " type="submit">Sing Up</button>
      <section class="copy legal">
        <p>
          <span class="small"
            >BY continutung, you agree to accept our <br />
            <a href="">Privacy Policy</a> &amp;
            <a href="">Terms of Servise.</a></span
          >
        </p>
      </section>
    </form>
  </div>
</div>
