<footer class="bg-light text-center text-lg-start text-muted">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <!-- Logo and Social Icons for all views -->
        <h2 class="text-uppercase font-weight-bold mb-4">Nayzak</h2>
        <p>Phosf luorescently engage worldwide method process shopping.</p>
        <div class="mt-2">
          <a href="#" class="me-2 text-reset">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="me-2 text-reset">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="me-2 text-reset">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="me-2 text-reset">
            <i class="bi bi-envelope"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
        <!-- Link Sections for desktop view, collapsibles for mobile view -->
        <div class="row text-center text-md-start">
          <div class="col-lg-4 col-md-4 mb-4">
            <h5 class="text-uppercase mb-4">Shop</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#">My account</a></li>
              <li class="mb-2"><a href="#">Login</a></li>
              <li class="mb-2"><a href="#">Wishlist</a></li>
              <li class="mb-2"><a href="#">Cart</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 mb-4">
            <h5 class="text-uppercase mb-4">Information</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#">Shipping Policy</a></li>
              <li class="mb-2"><a href="#">Returns & Refunds</a></li>
              <li class="mb-2"><a href="#">Cookies Policy</a></li>
              <li class="mb-2"><a href="#">Frequently asked</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 mb-4">
            <h5 class="text-uppercase mb-4">Company</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#">About us</a></li>
              <li class="mb-2"><a href="#">Privacy Policy</a></li>
              <li class="mb-2"><a href="#">Terms & Conditions</a></li>
              <li class="mb-2"><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Syllogia Design
  </div>
</footer>